<div class="container-fluid banner">
    <img src="https://images.pexels.com/photos/358326/pexels-photo-358326.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=" dfds">
</div> 
   <div class="container my-5">
       <h2>Today's Flash Sales</h2>
           <div class="carousel-inner">
               <div class="carousel-item active">
                   <div class="row">
                    @for(product of products; track product._id){<div class="col-md-3 product-card">
                           <div class="card">
                               <!-- <div class="discount">-40%</div> -->
                               <a [routerLink]="['/product', product._id]" ><img [src]="product.image" class="card-img-top" alt="image product"></a>
                               <div class="card-body">
                                   <h5 [routerLink]="['/product', product._id]" class="card-title text-truncate ">{{product.title}}</h5>
                                   <p class="card-text " >{{product.price}}</p>
                                   <button class="btn btn-dark btn-block ">Add To Cart</button>
                                   <p class="card-text"><small class="text-muted ">★★★★★ (88)</small></p>
                                   
                               </div>
                           </div>
                       </div>}
                   </div>
               </div>
               <!-- Add more carousel items here if needed -->
           </div>
           
       
       <div class="text-center mt-3">
           <button class="btn btn-dark">View All Products</button>
       </div>
   </div>
 
   <!-- New Arrivals -->
   <div class="container my-5">
       <h2>New Arrival</h2>
       <div class="row">
           <div class="col-md-8 mb-4">
               <div class="card ">
                   <img src="https://images.pexels.com/photos/4216115/pexels-photo-4216115.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="PlayStation 5">
                   <div class="card-body">
                       <h5 class="card-title ">PlayStation 5</h5>
                       <p class="card-text ">Black and White version of the PS5 coming out on sale.</p>
                       <a href="#" class="btn btn-dark ">Shop Now</a>
                   </div>
               </div>
           </div>
           <div class="col-md-4">
               <div class="row">
                   <div class="col-md-12 mb-4">
                       <div class="card">
                           <img src="https://images.pexels.com/photos/4216115/pexels-photo-4216115.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="Women's Collections">
                           <div class="card-body">
                               <h5 class="card-title">Women's Collections</h5>
                               <p class="card-text">Featured woman collections that give you another vibe.</p>
                               <a href="#" class="btn btn-dark">Shop Now</a>
                           </div>
                       </div>
                   </div>
                   
               </div>
           </div>
       </div>
   </div>