<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>Exclusive</h5>
                <form>
                    <div class="form-group">
                        <label for="emailSubscribe">Subscribe</label>
                        <input type="email" class="form-control" id="emailSubscribe" placeholder="Enter your email">
                    </div>
                    <button type="submit" class="btn btn-dark">Get 10% off your first order</button>
                </form>
            </div>
            <div class="col-md-3">
                <h5>Support</h5>
                <p>111 Bijoy sarani, Dhaka, DH 1515, Bangladesh.</p>
                <p>mail</p>
                <p>+88015-88888-9999</p>
            </div>
            <div class="col-md-3">
                <h5>Account</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">My Account</a></li>
                    <li><a href="#" class="text-white">Login / Register</a></li>
                    <li><a href="#" class="text-white">Cart</a></li>
                    <li><a href="#" class="text-white">Wishlist</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Quick Link</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Privacy Policy</a></li>
                    <li><a href="#" class="text-white">Terms Of Use</a></li>
                    <li><a href="#" class="text-white">FAQ</a></li>
                    <li><a href="#" class="text-white">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>