.no-border-radius-right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.no-border-radius-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid #dee2e6;
}
