.dashboard-content {
  padding: 20px;
}
.dashboard-content {
  margin-left: 250px; /* Đẩy nội dung chính sang phải sau khi chỉnh sidebar */
}

.table-responsive {
  margin-top: 20px; /* Tạo khoảng cách giữa bảng và phần trên */
}
