.formAddProduct {
 
  margin-left: 320px ;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 50%;
  margin-bottom: 30px;
}

