
    <div class="col sidebar" style="background-color: #f8f9fa;">
        <img src="https://images.pexels.com/photos/91224/pexels-photo-91224.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"  alt="">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/admin"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="#"><i class="fas fa-shopping-cart"></i>Order</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="#"><i class="fas fa-utensils"></i> Manage Menu</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" routerLink="#"><i class="fas fa-comments"></i> Customer Review</a>
            </li>
        </ul>

        <hr>

        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" routerLink="#"><i class="fas fa-cog"></i> Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="#"><i class="fas fa-credit-card"></i> Payment</a>
            </li>
            <li class ="nav-item">
                <a class="nav-link" routerLink="#"><i class="fas fa-question-circle"></i> Help</a>
            </li>
        </ul>
